<html>
    <head>
        <title>
            First Web Page
        </title>
    </head>
 
    <body>
        <div>
            <form action="/add/user" method="POST">
                <label for="name">Name:</label><br>
                <input type="text" id="name" name="name" value=""><br>
                <label for="lname">email:</label><br>
                <input type="text" id="email" name="email" value=""><br><br>
                <input type="submit" value="Submit">
            </form> 
        </div>
    </body>
</html>